body {
    text-align: center;
}
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 47, 52, 0.6);
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    
}
.modal-char {
    width: 50%;
    height: 40%;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    border-radius: 5px;
    border: 5px solid;
    border-color: rgba(39, 47, 52, 0.3);
}

img 
{
    cursor:pointer;
}

